/* css file  */
body{
	font-family: Verdana, "Ariel Narrow", sans-serif;
	background-color: #6EFF96;
	margin-left:10%;
	margin-right:10%;
	
}

h1{
	text-align: center;
	
}

.header{
	
	margin-bottom: 5%;
	background: #13E094;
	color:white;
	font-size:20px;
	text-align: center;
	border: 10px double white;
}

#circle{
	border-radius:50%;
}

.topnav {
  background-color: #105935;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 17px;
}

/* change the color on hover*/
.topnav a:hover {
  background-color: #4EEB9C;
  color: black;
}


.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

footer{
	background-color: #105935;
	margin-top: 10%;
	padding: 10px;
	
}